<!doctype html>  
<html ng-app="BarISTa">
  <head>
    <title>BarISTa</title>
  <!--Nunca se esqueçam de meter esta linha no head de uma página HTML
      E verifiquem que estão usar UTF-8 -->
  <meta charset="utf-8"></meta>
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- Os scripts aqui -->
  <!-- <script src="script.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
  <script src="barista.js"></script>
  <script>
    var state="home";

     $(function() {
       $("#bebidas").accordion({
         collapsible: true,
         heightStyle: "content",
         header: "h3",
       });
     });
    
    function notImplemented() {
      alert("Não está implementado");
    }
	
	function doMusic() {
		$("#music").show();
	}
	
	function requestSong() {
		$("#music").hide();
		alert("A sua sugestão foi registada");
	}

    function doAlc1() {
      if (state == "home") {
        $("#alc1").show();
        state = "alc1";
      }
    }

    function doAlc2() {
        $("#alc1").hide();
        $("#alc2").show();
        state = "alc2"; 
    }
		
    function goHome() {
      $("#alc1").hide();
      $("#alc2").hide();
	  $("#music").hide();
	  $("#order").hide();
      state = "home";
    }
	
	function hideAlc() {
		$("#alc1").hide();
		$("#alc2").hide();
		state="home";
	}
	
	function showOrder() {
		$("#order").show();
	}
	
  </script>
  </head>
  <body>
	<div class = "top-scrollbar">
      <div id="playing">
	  <h3>A ouvir: Bon Jovi - Livin’ on a Prayer</h3>
      </div>  
	</div>
	
    <div class = "left-sidebar">
      <div id="bebidas" ng-controller="drinkCtrl">
        <div ng-repeat="drinkMenu in drinkMenus">
          <h3>{{drinkMenu.category}}</h3>
          <div>
            <ul>
	      <li ng-repeat="drinkId in drinkMenu.drinks">
	        <div class="drink">
                  {{drinks[drinkId].name}}
	          <div><button class="more" ng-click="doOrder(drinkId)">+</button><button class="less" ng-click="lessOrder(drinkId)">-</button><span class="price">€5,00</span></div>
	        </div>
	      </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   
   <!-- Where functionality will happen -->
    <div class = "main">
      <p></p> <!-- Não remover este paragrafo vazio-->
      <div id="alc1" style="display: none">
        <p onclick="doAlc2()">COLOQUE UMA MÃO NO ECRÃ</p>
        <img src="handy-hand.png">
        <button id="stop" onclick="hideAlc()">Cancelar</button>
      </div>
      <div id="alc2" style="display: none">
        <p>Resultado: 0,31 g/L</p>
        <p>É ilegal a condução no seu estado</p>
        <p>Peça a uma amigo que lhe leva a casa ou um taxi</p>
        <button id="ok" onclick="hideAlc()">Ok</button>
      </div>
	  <div id="music" style="display: none">
		<form action="">
			<input type="radio" name="music" value="Closing">Semisonic - Closing Time<br>
			<input type="radio" name="music" value="Believe">Journey - Don’t Stop Believing<br>
			<input type="radio" name="music" value="Prayer">Bon Jovi - Livin’ on a Prayer<br>
			<input type="radio" name="music" value="Caroline">Neil Diamond - Sweet Caroline<br>
			<input type="radio" name="music" value="Sugar">Def Leppard - Pour Some Sugar on Me
		</form>
		<button id="okmusic" onclick="requestSong()">Sugerir</button>
		<button id="stopmusic" onclick="goHome()">Cancelar</button>
	  </div>
      <div id="order" ng-controller="orderCtrl" style="display: none">
        <div>PEDIDO</div>
        <ul>
          <li ng-repeat="(drinkId, amount) in getOrderList()">
            {{drinks[drinkId].name + ' x' + amount}}
          </li>
        </ul>
      </div>

    </div>
   
   
    <div class = "right-sidebar">
      <div id="menu">
        <ul>
          <li onclick="showOrder()">PEDIR</li>
          <li onclick="notImplemented()">PAGAR</li>
          <li onclick="doMusic()">MÚSICA</li>
          <li onclick="notImplemented()">JOGAR</li>
          <li onclick="doAlc1()">ALCOOLÍMETRO</li>
          <li onclick="notImplemented()">TAXI</li>
          <li onclick="notImplemented()">METEOROLOGIA</li>
          <li onclick="notImplemented()">CALENDÁRIO</li>
          <li onclick="goHome()">REINICIAR MESA</li>
       </ul>
     </div>  
   </div>
   
  </body>
</html>
